@model TankStore.Models.Tank

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post)) {
    @Html.HiddenFor(m => m.TankId)
    <div>
        <label>
            Tank:
            <input type="text" name="tankName" id="tankName" value="@Model.tankName" autocomplete="off"/>
        </label>
    </div>
    <div>
        <label>
            Country:
            <input type="text" name="tankCountry" id="tankCountry" value="@Model.tankCountry" autocomplete="off"/>
        </label>
    </div>
    <div>
        <label>
            Cost:
            <input type="text" name="tankCost" id="tankCost" value="@Model.tankCost" autocomplete="off"/>
        </label>
    </div>
    <div>
        <label>
            Available:
            <input type="text" name="tankCount" id="tankCount" value="@Model.tankCount" autocomplete="off"/>
        </label>
    </div>
    <br />
    <div><input type="submit" class="button" value="Update" /></div>
}
<div><input type="button" class="button" value="Cancel" id="btnCancel" /></div>

@Scripts.Render("~/Scripts/MyScripts/AdminPostRequests.js")
